# When an --flavor argument is provided to any of the VM creation commands, its name is searched between filenames
# contained in flavors/ directory.
# For example if you copy this example file to flavors/minimal.py and run following command:
# vmcli.py -utest -ptest -svcenter.example.com createvm --flavor minimal
#
# then a corresponding action will be taken to import Python dictionary named 'flavor' from the file flavors/minimal.py
# as seen below this comment:

flavor = {
    'name': 'vm-name',
    'cpu': 1,
    'mem': 256,
    'hdd': 10,
    'datacenter': 'dc01',
    'folder': 'test-folder',
    'datastore': 'ds01',
    'cluster': 'cl01',
    'resource_pool': '/Resources',
    'template': 'template-name',
    'net': 'dvPortGroup10-example',
    'net_cfg': '10.1.10.2/24',
    'poweron': True,
    'guest_user': 'root',
    'guest_pass': 'r00tme'
}
